@charset "utf-8";
body {
	min-width: 300px;
	background-color: #41414a;
	-webkit-user-select: none; /* Webkit */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10  */
	/* Currently not supported in Opera but will be soon */
	-o-user-select: none;
	user-select: none;
}

::selection {
  background: #6ee0f4; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #6ee0f4; /* Gecko Browsers */
}

/* Containers */

#link-bar {
	position: absolute;
	top: 25px;
	left: 20px;
	width: 45px;
	height: auto;
	display: flex;
	flex-wrap: flex-start;
	flex-flow: column;
	align-content: baseline;
}

#intro {
	height: auto;
	display: flex;
	align-items: baseline;
}

#contact {
	height: 50px;
}

#bio {
	box-sizing: border-box;
	max-width: 55%;
	min-height: 100%;
	margin-bottom: 20px;
}

#bio-container {
	max-width: 1300px;
	width: 85%;
	margin: 0 auto 10px auto;
}

#project-card {
	display: flex;
	flex: 1 1 auto;
	flex-flow: row;
	justify-content: flex-start;
	border-bottom: 5px solid #3d4d5e;
}

#projects {
	display: flex;
	width: auto;
	flex-flow: column;
	flex-grow: 1;
	align-self: stretch;
	justify-content: flex-start;
	align-content: stretch;
	box-sizing: border-box;
}

#self-portrait {
	align-self: stretch;
	width: 34%;
	box-sizing: border-box;
	margin: 0 10px 0 10px;
	background: url("images/self-portrait.png") no-repeat center;
	background-size: contain;
	z-index: 1;
	opacity: 0.99;
}

.content-card {
	max-width: 1300px;
	width: 85%;
	height: 450px;
	margin: 0 auto 10px auto;
	border-radius: 2px;
	background: #9fbbc7;
	text-align: left;
	box-shadow: 0 5px 8px rgba(50, 50, 50, 30);
	z-index: -2;
}

.content-card.top {
	width: 100% !important;
	margin-top: 30px;
	margin-bottom: 0;
}

#skills-bar {
	background-color: #486a7a; 

	width: 100%; 
	height: 50px;
	margin-top: -3px;

	display: flex;
	flex-flow: row;
	flex-wrap: flex-start;
	align-content: center;

	border-top: 1px solid #3d4d5e;
	border-bottom: 5px solid #3d4d5e;
	border-radius: 0 0 2px 0;

	box-shadow: 0 5px 8px rgba(50, 50, 50, 30);
}

/* element styling */

h1 {
	font-family: 'Raleway', sans-serif;
	color: #9fbbc7;
	text-shadow: 0px 1px #001b30;
	text-transform: uppercase;
	font-size: 160%
}

em {
	color: #fff;
	font-weight: 100;
	font-size: 123%;
}

p {
	font-family: "Raleway", sans-serif;
	font-size: 120%;
	line-height: 130%;
	color: #222;
	padding: 10px 10px 5px 30px;
	margin-top: 30px;
	word-wrap: break-word
}

i{
	color: #b8d4f2;
}

.skill h1 {
	font-family: "Roboto", sans-serif;
	font-size: 1.5em;
	line-height: 30px;
	color: #475980;
	text-shadow: none;
	vertical-align: center;
	text-align: center;
}

/* content items */

.skill {
	flex: 1;
	background-color: #567cb3;
	width: 100px;
	height: 30px;
	margin: auto 10px;
	border-radius: 2px;
	border-bottom: 3px solid #475980;
}

.skill:hover {
	border:none;
}

#link-bar i{
	box-sizing: border-box;
	font-size: 40px;
	margin: 15px 5px;
}

.projects-panel {
	flex: 1;
	display: flex;
  	justify-content: center;
  	flex-direction: column;
}

.projects-panel:hover{
	-webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
    filter: grayscale(30%);
}

.card-title {
	width: 70px;
	height: 100%;
	padding: 22px;
	box-sizing: border-box;
	background: #3e5370;
	word-wrap: break-word;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 200%;
	text-align: center;
	text-shadow: 0 3px 1px #333;
	line-height: 50px;
	color: #ddd;
}

.card-title.left {
	border-right: 3px solid #374252;
}

/* images */

.ball-tapper {
	background: url("images/ball-tapper.png") no-repeat;
	background-size: cover;
	background-position: center; 
}

.punch-tank {
	background: url("images/PunchTank.png") no-repeat;
	background-size: cover;
	background-position: center; 
}

.icon {
	height: 45px;
	width: 45px;
	background: url("images/LG_Icon.png") no-repeat center;
	background-size: contain;
}

/* Responsive styling*/

@media screen and (max-width: 1000px) {
	#link-bar {
		right: auto;
		left: 10px;
	}
}

@media screen and (max-width: 780px) {
	
	#contact {
		height: 210px;
	}
	
	.content-card {
		width: 85%;
		margin-right: 10px;
		margin-left: auto;
		padding-left: 0;
	}

	.content-card.top {
		margin-right: 0;
	}

	#bio-container {
		width: 85%;
		margin-right: 10px;
		padding-right: 0;
	}

	.skill h1 {
		font-size: 1em;
	}
}

@media screen and (max-width: 525px) {
	#link-bar {
		min-width: 290px;
		width: 95%;
		height: 45px;
		margin: 0 auto;
		flex-flow: row;
		justify-content: space-between;
		top: 5px;
	}

	#link-bar i{
		margin: 5px 20px;
	}
	
	.content-card {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.content-card.top {
		margin-top: 80px;
	}

	#bio-container {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 400px) {
	p {
		font-size: 95%;
	}
}

@media screen and (max-width: 330px) {
	p {
		font-size: 90%;
	}
}