@charset "utf-8";

/*Fonts*/

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/*Styles*/

@import url("reset.css");
@import url("animations.css");
header {
	opacity: 0.85;
	background: #3e5370;
	box-shadow: 0 -10px 50px #444;
}

body {
	min-width: 300px;
}

.header-wrapper {
	width: 90%;
	max-width: 1300px;
	height: 72px;
	overflow: hidden;
	margin: 0 auto;
}

.header-wrapper .icon {
	float: left;
	height: 45px;
	width: 45px;
	margin: 13.5px 10px 0 0;
	background: url("images/LG_Icon.png") no-repeat center;
	background-size: contain;
}

.scroll-indicator {
	display: none;
	position: fixed;
	right: 10px;
	top: 15%;
	bottom: 15%;
	width: 60px;
	height: 70%;
	opacity: 0;
	transition: all 0.3s;
}

.showindicator {
	display: block;
}

.scroll-indicator .test {
	background: #777;
	height: 60px;
	border-radius: 50%;
	margin-bottom: 5px;
}

.test:hover {
	background: #999;
}

.test i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-size: 150%;
	color: #eee;
	text-align: center;
}

li a {
	border-radius: 2px;
	padding: 3px 5px;
	font-size: 170%;
	font-family: Oswald, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 0.2s;
}

li a:hover {
	background: #9fbbc7;
}

.label-div {
	float: right;
	margin: 22.5px 0;
}

.label-div i {
	float: right;
	display: none;
	font-size: 180%;
	color: #fff;
	text-shadow: 0 2px #222;
	transition: all 0.2s;
}

.label-div ul {
	list-style-type: none;
}

.label-div ul li {
	display: inline-block;
	margin: 0 1px;
}

.name-div {
	float: left;
	width: 160px;
	height: 29px;
	margin-top: 23.5px;
}

.content-card {
	max-width: 1300px;
	width: 90%;
	height: 650px;
	margin: 0 auto 30px auto;
	background: #9fbbc7;
	transition: all 0.2s;
	text-align: left;
}

#self-portrait {
	float:right;
	min-height: 100%;
	width: 20%;
	margin: 0 10px 0 10px;
	background: url("images/self-portrait.png") no-repeat;
	background-size: contain;
}

.content-card p {
	font-family: "Raleway", sans-serif;
	font-size: 120%;
	line-height: 120%;
	color: #ddd;
	padding: 10px;
	margin: 0;
	max-width: 63%;
	float: left;
}

.content-card.top {
	margin-top: 80px;
}

.card-title {
	width: 70px;
	height: 100%;
	padding: 21px;
	box-sizing: border-box;
	background: #3e5370;
	word-wrap: break-word;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 200%;
	text-align: center;
	text-shadow: 0 3px 1px #333;
	line-height: 50px;
	color: #ddd;
}

.card-title.left {
	float: left;
	border-right: 3px solid white;
}

.card-title.right {
	float: right;
	border-left: 3px solid white;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #9fbbc7;
	text-shadow: 0px 1px #001b30;
	text-transform: uppercase;
	font-size: 160%
}

p {
	font-size: 160%;
	line-height: 210%;
	text-align: justify;
	margin: 3%;
	font-family: sans-serif;
}

@media screen and (max-width: 1480px) {
	.content-card {
		margin-right: 80px;
	}
}

@media screen and (max-width: 780px) {
	#self-portrait {
		min-height: 250px;
		width: 131px;
		background: url("images/self-portrait-small.png") no-repeat;
		margin: 0 0 0 10px;
	}
	.label-div {
		margin: 21.5px 0;
	}
	.label-div i {
		display: block;
	}
	.label-div nav {
		display: none;
	}
	.label-div ul {
		background: #3e5370;
		opacity: 0.75;
	}
	.label-div:hover nav {
		position: absolute;
		display: inline-block;
		right: 0;
		top: 72px;
		max-width: 92px;
	}
	li a {
		float: right;
		text-align: right;
		font-size: 150%;
		margin: 5px 0;
	}
	.content-card {
		width: 85%;
		margin-left: 0;
		padding-left: 0;
	}
	.content-card p {
		float: none;
		margin: 0;
		font-size: 110%;
		max-width: 100%;
	}
	.card-title.left {
		float: none;
		height: 70px;
		width: 100%;
		padding: 10px;
		letter-spacing: 10px;
		border-right: hidden;
		border-bottom: 3px solid white;
		clear: both;
	}
}

@media screen and (max-width: 400px) {
	.content-card p {
		font-size: 100%;
	}
}