@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url("reset.css");

html, body {
	margin: 0;
	padding: 0;
}

header {
	opacity: 0.85;
	background: #3e5370;
	box-shadow: 0 -10px 50px #444;
}

#horizontal-scroll {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	background: url("images/stardust_tile.png");
    -webkit-animation: backgroundScroll 20s linear infinite;
	animation: backgroundScroll 20s linear infinite;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -625px 0;}
}
        
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -625px 0;}
}

.header-wrapper {
	width: 90%;
	max-width: 1300px;
	height: 72px;
	overflow: hidden;
	margin: 0 auto;
}

.header-wrapper .icon {
	float: left;
	height: 45px;
	width: 45px;
	margin: 13.5px 10px 0 0;
	background: url("images/LG_Icon.png") no-repeat center;
	background-size: contain;
}
li a {
	border-radius: 2px;
	padding: 3px 5px;
	font-size: 170%;
	font-family: Oswald, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 0.2s;
}

li a:hover {
	background: #9fbbc7;
}

.label-div {
	float: right;
	margin: 22.5px 0;
}

.label-div i {
	float: right;
	display: none;
	font-size: 180%;
	color: #fff;
	text-shadow: 0 2px #222;
	transition: all 0.2s;
}

.label-div ul {
	list-style-type: none;
}

.label-div ul li {
	display:inline-block;
	margin: 0 1px;
}

.name-div {
	float: left;
	width: 160px;
	height: 29px;
	margin-top: 23.5px;
}

.content {
	max-width:1300px;
	width: 90%;
	height:800px;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	background: #9fbbc7;
	transition: all 0.2s;
}

h1
{
	font-family: 'Raleway', sans-serif;
	color: #9fbbc7;
	text-shadow: 0px 1px #001b30;
	text-transform: uppercase;
	font-size: 160%
}

p {
	font-size: 160%;
	line-height: 210%;
	text-align: justify;
	margin: 3%;
	font-family: sans-serif;
}

@media screen and (max-width: 780px) {
	.label-div {
		margin: 21.5px 0;
	}

	.label-div i {
		display: block;
	}

	.label-div nav {
		display: none;
	}

	.label-div ul {
		background: #3e5370;
		opacity: 0.75;
	}

	.label-div:hover nav {
		position: absolute;
		display: inline-block;
		right:0;
		top:72px;
		max-width: 92px;
	}

	li a {
		float: right;
		text-align: right;
		font-size: 150%;
		margin: 5px 0;
	}

	.content {
		width: 100%;
	}

	.content h1{
		font-size: 250%;
	}

	p {
		font-size: 100%;
		line-height: 160%;
	}
}